<div class="d-flex">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
        <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <i class="bi-bootstrap me-2" style="font-size: 1.5rem;"></i>
            <span class="fs-4">Elections</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a routerLink="/layout/create-election" routerLinkActive="active" class="nav-link text-white"
                    [class.active]="router.url === '/layout/create-election'">
                    <i class="bi-house me-2"></i>
                    Create Election
                </a>
            </li>
            <li>
                <a routerLink="/layout/update-election" routerLinkActive="active" class="nav-link text-white"
                    [class.active]="router.url === '/layout/update-election'">
                    <i class="bi-speedometer2 me-2"></i>
                    Update Election
                </a>
            </li>
            <li>
                <a routerLink="/layout/view-elections" routerLinkActive="active" class="nav-link text-white"
                    [class.active]="router.url === '/layout/view-elections'">
                    <i class="bi-table me-2"></i>
                    View Elections
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <!-- Main Content -->
    <div class="flex-grow-1 p-4">
        <!-- Dynamic content will load here -->
        <router-outlet></router-outlet> <!-- This is where the relevant component will be displayed -->
    </div>
</div>