.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.scroll-container {
  height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
  margin-right: 0;
}

.card {
  width: 100%;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.scroll-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
